.dashboardMainCointainer {
  padding: 20px;
  color: white;
  background-color: #f5f5f5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.dashboardMainCointainer h1 {
  margin-top: 10px;
}
.leftD {
  width: 20%;
  background-color: black;
  height: auto;
  min-width: 280px;
  border-radius: 20px;
  margin-right: 3%;
}
.dashBoardLeftCointainer {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.dashboardNavigation {
  font-size: 20px;
}
.dashboardNavigation p {
  color: rgb(201, 201, 201);
  cursor: pointer;
}
.active {
  color: white;
}
.dashboardNavigation p:hover {
  color: white;
}
.dashboardNavigation p img {
  width: 20px;
  margin-right: 10px;
}
.endDiv {
  box-sizing: border-box;
  height: 35%;
  width: 130px;
  padding-top: 150px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
}
.endDiv p {
  cursor: pointer;
}
.rightD {
  width: 75%;
  border-radius: 20px;
  overflow: hidden;
  color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.dashboardNavContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.navSearchMain {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: black;
  font-size: 20px;
  gap: 5px;
}
.navSearchMain img {
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.navSearchMain i {
  cursor: pointer;
}
.searchBox {
  box-sizing: border-box;
  width: 200px;
  height: 30px;
  border-radius: 10px;
  background-color: white;
  color: gray;
  padding-left: 6px;
  display: flex;
  align-items: center;
}
.searchBox input {
  width: 150px;
  border: none;
  outline: none;
  cursor: pointer;
}
.searchBox i {
  cursor: pointer;
}
.annaliticBox {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.analyticSingleContainer {
  box-sizing: border-box;
  width: 250px;
  height: 150px;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.analyticSingleContainer i {
  position: relative;
  margin-left: 170px;
  margin-top: 10px;
  font-size: 25px;
}
.analyticSingleContainer p,
h1 {
  position: relative;
  margin-top: 0px;
}
.lineGraphBox {
  width: 100%;
  height: 400px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lineChartHeading {
  box-sizing: border-box;
  width: 90%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.innerHeading {
  box-sizing: border-box;
  width: 30%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}
.innerHeading h2 {
  font-size: 20px;
}
.innerHeading p {
  margin-top: -26px;
  font-size: 13px;
  color: #c2c2c2;
}
.bottomDiv {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pieChart {
  width: 47%;
  border-radius: 20px;
  height: 250px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pieHeading {
  width: 90%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pieHeading p {
  font-size: 13px;
  color: #c2c2c2;
}

.lineGraphBox {
  background-color: white;
}
.todaysSchedule {
  width: 47%;
  height: 250px;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
}
.headingSchedule {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.headingSchedule p {
  font-size: 13px;
  color: gray;
}
.meetingTime {
  width: 90%;
  color: #d3d3d3;
}
.meetingTime div h5 {
  color: #8c8c8c;
}
.meetingTime div p {
  font-size: 13px;
}
.fastMeeting {
  box-sizing: border-box;
  border-left: 4px solid #9bdd7c;
  padding-left: 10px;
  line-height: 2px;
}
.senondMeeting {
  border-left: 4px solid #6972c3;
  padding-left: 10px;
  line-height: 2px;
}
@media screen and (max-width: 1330px) {
  .dashboardMainCointainer {
    gap: 20px;
  }

  .leftD {
    width: 90%;
    height: auto;
  }

  .dashBoardLeftCointainer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .dashboardNavigation {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    gap: 5px;
  }
  .dashboardNavigation p img {
    width: 10px;
    margin-right: 2px;
  }
  .endDiv {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    padding-top: 0;
    gap: 5px;
  }
  .rightD {
    width: 90%;
  }
  .dashboardNavContainer {
    justify-content: center;
  }
  .annaliticBox {
    justify-content: center;
  }
}
@media screen and (max-width: 1100px) {
  .leftD,
  .rightD {
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .bottomDiv {
    flex-direction: column;
    gap: 10px;
  }
  .pieChart {
    width: 100%;
  }
  .todaysSchedule {
    width: 100%;
  }
}
