.mainCointainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.sideBar{
    width: 33%;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sideBar h1{ 
   font-size: 3rem;
    
}
.fromCointainer{
    width: calc(100% - 33%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    
}
.fromWapper{
    border: 3px solid black;
    width: 400px;
    height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.googleSignbtn{
    padding-left: 10px;
    width: 70%;
    height: 30px;
}
.googleSignbtn > img{
    width: 15px;
    margin-right: 10px;
}